{{>header}}

<div id="auth-title">
    <h1>Do you believe a super cool tech company should give Isabela a job?</h1>
    <h3>(of course you do)</h3>
</div>

<div id="auth-container">
    <div id="hire-me-img">
        <img src="/hireme.jpg" />
    </div>

    <div id="testimonials">
        <q>Impressive skills</q>
        <span>- Steve Jobs</span>
        <br />
        <q>Incredible potential</q>
        <span>- Barbara Liskov</span>
        <br />
        <q>I wish <strong>I</strong> could work with her!</q>
        <span>- Augusta Ada King, Countess of Lovelace</span>
        <br />
        <q>The best student we have <i>ever</i> had</q>
        <span>- David Friedman</span>
    </div>

    <div class="form-title">
        {{#if register}} <h2>THEN SUPPORT <s>MY</s> OUR CAUSE</h2> {{/if}}
        {{#if login}} <h2>LOGIN</h2> {{/if}}

    </div>

    <form id="auth-form" action="" method="post">
        {{#if register}}
            <div>
                <div class="label">
                    <label for="first">First name</label>
                </div>
                <input
                    type="text"
                    name="first"
                    class="firstname"
                    placeholder="Gorgeous"
                    required
                />
            </div>
            <div>
                <div class="label">
                    <label for="last">Last name</label>
                </div>
                <input
                    type="text"
                    name="last"
                    class="lastname"
                    placeholder="Amazing"
                    required
                />
            </div>

            <div>
                <div class="label">

                    <label for="email">Email</label>
                </div>
                <input
                    type="email"
                    name="email"
                    class="email"
                    placeholder="gorgeous@amazing.me"
                    required
                />

            </div>
            <div>
                <div class="label">

                    <label for="password">Password</label>
                </div>
                <input
                    type="password"
                    name="password"
                    class="password"
                    required
                />
            </div>
            <div>
                <button>Sign up</button>
            </div>
        {{/if}}

        {{#if login}}
            <div>
                <div class="label">
                    <label for="email">Email</label>
                </div>
                <input type="email" name="email" class="email" required />

            </div>
            <div>
                <div class="label">
                    <label for="password">Password</label>
                </div>
                <input
                    type="password"
                    name="password"
                    class="password"
                    required
                />
            </div>
            <div>
                <button>Log in</button>
            </div>
        {{/if}}

        <h4 class="error-msg">{{error}}</h4>

    </form>

</div>