

<div id="auth-container">
    {{>header}}

    <div id="auth-title">
        <h1>Do you believe a super cool tech company should give Isabela a job?</h1>
        <h3>(of course you do)</h3>
    </div>

    <div id="hire-me-img">
        <img src="/hireme.jpg" />
    </div>

    <div id="testimonials">
        <div class="steve">
            <q>Impressive skills</q>
            <span>- Steve Jobs</span>
        </div>

        <div class="barbara">
            <q>Incredible potential</q>
            <span>- Barbara Liskov</span>
        </div>
 
        <div class="david">
            <q>The best student we have <i>ever</i> had</q>
            <span>- David Friedman</span>
        </div>
    </div>

    <div id="form-title">
        {{#if register}} <h2>SUPPORT <s>MY</s> OUR CAUSE</h2> {{/if}}
        {{#if login}} <h2>LOGIN</h2> {{/if}}

    </div>
    <form id="auth-form" action="" method="post">
        {{#if register}}
        <div id="form-inputs">
            <div class="first-register">
                <div class="label">
                    <label for="first">First name</label>
                </div>
                <input
                    type="text"
                    name="first"
                    class="firstname"
                    placeholder="Gorgeous"
                    required
                />
            </div>
            <div class="last-register">
                <div class="label">
                    <label for="last">Last name</label>
                </div>
                <input
                    type="text"
                    name="last"
                    class="lastname"
                    placeholder="Amazing"
                    required
                />
            </div>

            <div class="email-register">
                <div class="label">

                    <label for="email">Email</label>
                </div>
                <input
                    type="email"
                    name="email"
                    class="email"
                    placeholder="gorgeous@amazing.me"
                    required
                />

            </div>
            <div class="password-register">
                <div class="label">

                    <label for="password">Password</label>
                </div>
                <input
                    type="password"
                    name="password"
                    class="password"
                    required
                />
            </div>
            <div class="button-register">
                <button>Sign up</button>
            </div>
        </div>
        {{/if}}

        {{#if login}}
            <div class="email-login">
                <div class="label">
                    <label for="email">Email</label>
                </div>
                <input type="email" name="email" class="email" required />

            </div>
            <div class="password-login">
                <div class="label">
                    <label for="password">Password</label>
                </div>
                <input
                    type="password"
                    name="password"
                    class="password"
                    required
                />
            </div>
            <div class="button-login">
                <button>Log in</button>
            </div>
        {{/if}}

        <h4 class="error-msg">{{error}}</h4>

    </form>

    <div id="footer">
        <footer>© Savas 2021</footer>
    </div>


</div>