<h1>LOGIN</h1>
<h3 class="error-msg">{{error}}</h3>
<form action="" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" class="email" required />

    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" class="password" required />
    </div>
    <div>
        <button>Log in</button>
    </div>

    <h3>Not registered? <a href="/register">Sign up here</a> </h3>

</form>

<a href="/logout">Logout</a>