


<div id="petition-container">
    {{>header inside=true}} 
    <div id="petition-title">
        {{#rows}}
        <p class="petition-text">I, {{first}} {{last}}, believe that Isabela should get the best job of all jobs as a developer. She is the most hard-working, friendly, creative and talented person I have ever met in my entire life.</p>
        {{/rows}}
    </div>

    <div id="sign-img">
        <img src="/sign.jpg">
    </div>

    <div id="sign-canvas">
        <form class="sign-form" action="" method="post">

            <div>
                <canvas class="canvas" >
                    <input type="hidden" name="signature" id="signature" required />
                </canvas>
            </div>
            <div class="sign-submit">
                <button class="erase" type="button">Start over</button>
                <button>Submit</button>
                <h3 class="error-msg">{{error}}</h3>
            </div>
        </form>
    </div>

    <div id="footer">
        <footer>© Savas 2021</footer>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="petition.js"></script>