<h1>THIS IS THE PETITION PAGE</h1>
<h3 class="error-msg">{{error}}</h3>

<form action="" method="post">

    <div>
        <label for="signature">Sign here</label>
        <canvas class="canvas" width="1000" height="300">
            <input type="hidden" name="signature" id="signature" required />
        </canvas>
    </div>
    <div>
        <button>Submit</button>
    </div>

</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="petition.js"></script>