<h1>THIS IS THE PETITION PAGE</h1>

<form action="" method="post">
    <div>
        <label for="first">Enter your first name</label>
        <input type="text" name="first" id="firstname" required />
    </div>
    <div>
        <label for="last">Enter your last name</label>
        <input type="text" name="last" id="lastname" required />
    </div>
    {{! <div>
        <label for="signature">Signature</label>
        <input type="hidden" name="signature" id="signature" required />
    </div> }}
    <div>
        <button>Submit</button>
    </div>

</form>