<h1>THIS IS THE PROFILE PAGE</h1>

<h3 class="error-msg">{{error}}</h3>
<form action="" method="post">
    <div>
        <label for="age">Tell us your age</label>
        <input type="number" name="age" class="age"/>
    </div>
    <div>
        <label for="city">Tell us your city</label>
        <input type="text" name="city" class="city"/>
    </div>

    <div>
        <label for="website">Tell us your website</label>
        <input type="text" name="website" class="website"/>
    </div>
    <div>
        <button>Continue</button>
    </div>