<header>

</header>

<div id="register-container">
    <div id="hire-me-img">
        <img href="./public/hireme.jpg" />
    </div>

    <h1>SUPPORT <s>MY</s> OUR CAUSE</h1>

    <h3 class="error-msg">{{error}}</h3>
    <form id="register-form" action="" method="post">
        <div>
            <div class="label">
                <label for="first">First name</label>
            </div>
            <input type="text" name="first" class="firstname" required />
        </div>
        <div>
            <div class="label">
                <label for="last">Last name</label>
            </div>
            <input type="text" name="last" class="lastname" required />
        </div>

        <div>
            <div class="label">

                <label for="email">Email</label>
            </div>
            <input type="email" name="email" class="email" required />

        </div>
        <div>
            <div class="label">

                <label for="password">Password</label>
            </div>
            <input type="password" name="password" class="password" required />
        </div>
        <div>
            <button>Sign up</button>
        </div>

        <h4>Already registered? <br /><a href="/login">Log in here</a> </h4>

    </form>
</div>