<h1>THANK YOU!</h1>

<img src="{{signature}}" alt="" />

<h3>{{count}} people have already signed this petition.</h3>
<h3> <a href="/signers">See who they are!</a></h3>
<h3> <a href="/profile/edit">Edit your profile</a></h3>