<div id="thanks-container">

    {{>header inside=true}} 

    <div id="thanks-title">
        <p>THANK YOU!</p>
    </div>

    <div id="thanks-text">
        <p>You just helped me get one step closer to my dream job as a developer</p>
    </div>

    <div id="thanks-count">
        <p> <a href="/signers">{{count}} signatures and counting...</a></p>
    </div>

    <div id="thanks-look">
        <p>Look at your artwork of a signature:</p>
    </div>

    <div id="thanks-sign">
        <img src="{{signature}}" alt="" />  
    </div>

    <div id="thanks-img">
        <img src="/sparks.jpg">
    </div>

    <div id="thanks-edit">
        <button class="edit-profile-btn" type="button">Edit your profile</button>
    </div>

    <div id="thanks-delete">
        <form method="post" action="/signature/delete">
            <button>Delete your signature</button>
        </form>
    </div>

    <div class="thanks-error">
        <p class="error-msg">{{error}}</p>
    </div>
    

    <div id="footer">
        <footer>© Savas 2021</footer>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="thanks.js"></script>
