* {
    box-sizing: border-box;
    font-family: "Quicksand";
}

body {
    display: grid;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: black;
    color: white;
    padding: 6px;
}

input {
    width: 250px;
    height: 2rem;
}

#register-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#register-header {
    text-align: center;
    height: 20%;
    text-transform: uppercase;
}

#register-form {
    grid-column: 3;
}

#hire-me-img {
    grid-row: 1 / span 3;
}

#testimonials {
    grid-column: 2;
}

.support {
    grid-column: 3;
}

.error-msg {
    color: red;
}

.canvas {
    border: indianred solid 3px;
}
