* {
    box-sizing: border-box;
    font-family: "Quicksand";
}

body {
    display: grid;
    position: relative;
    margin: 0;
    grid-template-rows: min-content 1fr min-content;
}

header {
    background-color: black;
    height: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    padding: 10px;
}

input {
    width: 20rem;
    height: 2rem;
}

button {
    width: 15rem;
    height: 3rem;
    margin-top: 20px;
    background-color: white;
    border-style: double;
    font-size: 1rem;
}

.header-link {
    margin-left: 30px;
    float: right;
    margin-right: 30px;
}

.header-link a {
    text-decoration: none;
    color: white;
}

.header-link a:hover {
    text-decoration: underline;
}

#auth-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#auth-title {
    text-align: center;
    height: 20vh;
    text-transform: uppercase;
}

#auth-form {
    grid-column: 3;
}

#hire-me-img {
    grid-row: 1 / span 3;
}

#testimonials {
    grid-column: 2;
}

.form-title {
    grid-column: 3;
}

#petition-container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr 350px;
}

#petition-title {
    width: 500px;
    font-size: 2.5rem;
    grid-row: 1 / span 2;
    justify-self: center;
}

#sign-img {
    grid-column: 2;
    grid-row: 1 / span 3;
}

#sign-canvas {
    grid-row: 3;
    grid-column: 1 / span 2;
    margin-left: 12%;
}

.sign-form {
    width: 1000px;
}

.sign-submit {
    float: right;
}

.error-msg {
    color: red;
}

.canvas {
    border-bottom: black 3px dotted;
}
