* {
    box-sizing: border-box;
    font-family: "Quicksand";
}

body {
    position: absolute;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 50px;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1;
}

input {
    width: 20rem;
    height: 2rem;
}

button {
    width: 15rem;
    height: 3rem;
    margin-top: 20px;
    background-color: white;
    border-style: double;
    font-size: 1rem;
}

.header-link {
    margin-left: 30px;
    float: right;
    margin-right: 30px;
}

.header-link a {
    text-decoration: none;
    color: white;
}

.header-link a:hover {
    text-decoration: underline;
}

#auth-container {
    position: relative;
    overflow-x: hidden;
    top: 0px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 200px 1fr 40px;
}

#auth-title {
    text-align: center;
    height: 200px;
    text-transform: uppercase;
    grid-row: 2;
    grid-column: 1 / span 3;
}

#auth-form {
    grid-column: 3;
}

#hire-me-img {
    grid-row: 3;
    height: 400px;
}

#hire-me-img img {
    grid-row: 3;
    height: 400px;
    z-index: 1001;
}

#testimonials {
    grid-column: 2;
}

#form-title {
    grid-column: 3;
}

#petition-container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr 1fr 350px;
}

#petition-title {
    width: 500px;
    font-size: 2.5rem;
    grid-row: 1 / span 2;
    justify-self: center;
}

#sign-img {
    grid-column: 2;
    grid-row: 1 / span 3;
}

#sign-canvas {
    grid-row: 3;
    grid-column: 1 / span 2;
    margin-left: 12%;
}

.sign-form {
    width: 1000px;
}

.sign-submit {
    float: right;
}

.error-msg {
    color: red;
}

.canvas {
    border-bottom: black 3px dotted;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #auth-container {
        overflow: hidden;
        max-height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 120px 80px 310px 140px 40px;
        grid-template-areas:
            "header header"
            "title title"
            "formtitle formtitle"
            "image form"
            "testimonials testimonials"
            "footer footer";
    }

    header {
        grid-area: header;
    }

    #auth-title {
        text-align: center;
        height: 100px;
        text-transform: uppercase;
        font-size: 0.5rem;
        grid-area: title;
    }

    #testimonials {
        position: fixed;
        bottom: 40px;
        height: 100px;
        width: 100vw;
        display: grid;
        grid-template-columns: 90px 90px 90px;
        justify-content: space-around;
        grid-area: testimonials;
        font-size: 0.8rem;
        background-color: #ccc;
    }

    .steve {
        grid-column: 1;
        padding: 5px;
        height: 100px;
    }

    .barbara {
        grid-column: 2;
        padding: 5px;
        height: 100px;
    }

    .david {
        grid-column: 3;
        padding: 5px;
        height: 100px;
    }

    #form-title {
        background-color: #ccc;
        height: 50px;
        grid-area: formtitle;
        text-align: center;
    }

    #form-title h2 {
        transform: translateY(-50%);
    }

    #hire-me-img {
        grid-area: image;
    }

    #hire-me-img img {
        height: 230px;
    }

    #auth-form {
        grid-area: form;
    }

    .label {
        margin-bottom: 5px;
    }

    input {
        width: 9rem;
        height: 1.5rem;
    }

    button {
        width: 9rem;
        margin-top: 15px;
        font-size: 1.3rem;
    }

    #footer {
        grid-area: footer;
    }
}

@media screen and (min-height: 550px) and (max-height: 640px) {
    #auth-container {
        grid-template-rows: 50px 100px 60px 250px 130px 40px;
    }

    .label {
        margin-bottom: 3px;
        font-size: 0.8rem;
    }

    button {
        width: 8rem;
        height: 2rem;
        margin-top: 10px;
        font-size: 1rem;
    }

    #testimonials {
        height: 80px;
    }
}
